@import "../../../variables";

.List {
  max-width: 180px;
  &__ul {
    margin: 0;
    height: 58vh;
    overflow-y: auto;
    overflow-x: hidden;
  }

  &__btn {
    padding: 3px 5px;
    width: 100%;
    text-align: left;

    span {
      display: block;
      transform: translateX(0);
      transition: all 0.3s;
    }

    &:hover {
      color: coral;
    }
  }
}

.full {
  height: 86vh;
}

.active {
  background-color: $randomHeroesBgColor;
  color: $white;

  span {
    transform: translateX(10px);
  }

  &:hover {
    color: $white;
  }
}
