@import "../../../../../variables";

.Top {
  display: flex;
  width: 100%;

  &__figure {
    flex-shrink: 0;
    margin: -40px 0 0;
    width: $heroCardFigureWidth;
    height: 427px;
  }

  &__infoBlock {
    margin-left: 30px;
    width: 100%;
  }

  &__names {
    min-height: 90px;
  }

  &__name,
  &__fullName {
    text-align: center;
  }

  &__fullName {
    margin: 10px 0 20px;
    font-size: 22px;
    color: $secondColor;
  }

  &__info {
    display: flex;
    align-items: center;
  }

  &__column {
    max-width: 200px;
    width: 100%;
    > span {
      display: block;
      margin-bottom: 10px;
    }
  }

  &__cat {
    font-weight: 700;
    margin-right: 10px;
    color: $mainColor;
  }

  &__alignment {
    font-weight: 700;
    color: $marvel;
  }

  &__mainInfo {
    margin-bottom: 30px;

    &:empty {
      margin: 0;
    }
  }

  &__aliases {
    display: block;
    margin-bottom: 10px;
  }

  &__occupation {
    display: block;
    margin-bottom: 10px;
  }
}

.green {
  color: green;
}