@import "../../variables";

.Main {
  background-color: $mainSectionBgColor;

  &__content {
    display: flex;
    padding: 10px 0;
    background-color: $white;
    //align-items: flex-start;
  }
}
