@import "../../../variables";

.Cards {
  height: $randomHeroesHeight;
  padding: 0 0 10px;
  background-color: $randomHeroesBgColor;
  color: $white;

  &__cards {
    display: flex;
    align-items: center;
    min-height: 200px;
  }
}
