@import "../../../variables";

.Cards {
  height: 28vh;
  padding: 0 0 10px;
  background-color: $randomHeroesBgColor;

  &__cards {
    display: flex;
    align-items: center;
    min-height: 200px;
  }
}
