@import "../../../../variables";

.List {
  margin: 0;
  padding-top: 5px;
  height: $heroListHeightShort;
  overflow-y: auto;
  overflow-x: hidden;


  &__btn {
    padding: 3px 5px;
    width: 100%;
    text-align: left;
    //white-space: nowrap;

    span {
      display: block;
      transform: translateX(0);
      transition: all 0.3s;
    }

    &:hover {
      color: coral;
    }
  }
}

.full {
  height: $heroListHeightFull;
}

.active {
  background-color: $randomHeroesBgColor;
  color: $white;

  span {
    transform: translateX(10px);
  }

  &:hover {
    color: $white;
  }
}
