// цвета сайта
$blue-1: #1f3f68;
$blue-2: #316099;
$blue-3: #356ead;
$blue-4: #5a98d0;
$blue-5: #98c3e8;
$marvel: #F0131E;
$captainAmerica: #1849CA;
$white: #fff;
$gradient: rgba($blue-5, 0.2);
$headerBgColor: $white;
$panelColor: #141414;
$randomHeroesBgColor: #141414;
$mainSectionBgColor: linear-gradient(135deg, #f5f7fa 0%, #e0e6f3 100%);


$mainColor: $blue-1;
$secondColor: #8f8f8f;
$mainColor-hover: #000;
$mainColor-light: rgba(#252525, 0.5);
$overlay: rgba(#000, 0.4);
$pulseColor: adjust-hue($blue-5, 2deg);
$error: rgba(#f00, 0.8);
$valid: rgba(green, 0.8);

//  Height values
$headerHeight: 7vh;
$panelHeight: 4vh;
$randomHeroesHeight: 27vh;
$searchBarHeight: 4vh;
$heroListHeightFull: 100vh - $headerHeight - $panelHeight - $searchBarHeight - 4;
$heroListHeightShort: $heroListHeightFull - $randomHeroesHeight;

//HeroCard image size
$heroCardFigureWidth: 320px;

// <Шрифт по умолчанию>========================
$fontFamily: "Abel", sans-serif;
$fontFamily2: "Abel", sans-serif;

// <Переменные контейнера>=====================
$minWidth: 320;
$maxWidth: 1400;
$maxWidthContainer: 1230;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;