@import "variables";

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  font-family: $fontFamily;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 1px;
  color: $blue-1;

  &.js-overflow {
    overflow: hidden;
  }
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  outline: transparent;
  border: none;
  padding: 0;
  font-family: inherit;
  color: inherit;
  background: transparent;
  cursor: pointer;
}

input {
  outline: transparent;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

// Accessibility?
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

// Оболочка
.site-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
}

// Главный контейнер
.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  max-width: $maxWidthContainer + px;
}
