@import "../../../../variables";

.Card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: calc((100% - 2px) / 10);
  margin: 0 5px;
  //border-radius: 10px;
  box-shadow: 0 1px 2px 0 #ccc;
  color: $white;
  transform: translateY(0);
  transition: all 0.3s ease;
  cursor: pointer;

  &__imgWrapper {
    position: relative;
    margin: 0;
    width: 100%;
    height: 240px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 40%;
      background: linear-gradient(0deg, rgba(58, 58, 58, 0.65) 50%, rgba(58, 58, 58, 0) 100%);
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__text {
    position: absolute;
    bottom: 40px;
    display: flex;
    align-items: center;
    padding: 0 5px;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.3s ease 0s;

    span {
      display: block;
    }
  }

  &__line {
    width: 100%;
    height: 1px;
    background-color: #fff;
  }

  &__name {
    flex-grow: 1;
    margin: 0 -3px;
    padding: 0 15px;
    font-weight: 700;
    font-size: 18px;
    white-space: nowrap;
    text-align: center;
  }

  &__fullName {
    position: absolute;
    bottom: 15px;
    font-style: italic;
    font-size: 14px;
    letter-spacing: 0.2px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.3s;
  }

  &:hover {
    transform: translateY(-5px);

    .Card__text {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }

    .Card__fullName {
      opacity: 1;
      visibility: visible;
    }
  }
}
