.Bar {
  display: flex;
  align-items: center;

  &__title {
    margin-right: 10px;
    max-width: 100px;
    width: 100%;
    text-align: right;
  }

  &__bar {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__filledBar {
    position: relative;
    margin-right: 10px;
    width: 100%;
    height: 7px;
    background: #7c7c7c;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      height: 7px;
    }
  }

  &__value {
    max-width: 30px;
    width: 100%;
  }
}