.Logo {
  display: flex;
  align-items: flex-end;
  margin: 0;

  &__img {
    width: 50px;
    height: 50px;
  }

  &__text {
    display: inline-block;
    margin-left: 5px;
    line-height: 1;
  }
}